:root {
  --grey-color: #dadada;
  --grey-darker-color: #767776;
  --red-brand-color: #F95E5C;  
  --dark-black-color: #383838;  
  --font-size: 18px;
}

@media (max-width: 1127px) {
  .listing-show {
      width: 90.5vw;
  }
}

.listing-show-container {
  width: 86.32vw;
  display: flex;
  flex-direction: column;
  align-self: center;
  color: #222222;
  max-width: 1120px;
  justify-self: center;
}

.visual-container {
  margin-top: 30px;
}

.first-col-photo {
  height: 100%;
  width: 50%;
}
.first-col-photo img{
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
.second-col-photos {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 25%;
  justify-content: space-between;
  align-items: center;
}
.third-col-photos {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 25%;
  justify-content: space-between;
  align-items: flex-end;
}

.third-col-photos img:first-child  {
  border-top-right-radius: 12px;
}

.third-col-photos  img:last-child {
  border-bottom-right-radius: 12px;
}

.listing-show-image {
  height: 49.25%;
  width: 97.8%;
  object-fit: cover;
  overflow: hidden;
  aspect-ratio: 1;
}

.listing-show-visuals .main {
  height: 100%;
  width: 99%;
  object-fit: cover;
  overflow: hidden;
  aspect-ratio: 1;
}

#figure-container {
  padding-top: 24px;
  max-width: 1120px;
  min-width: 650px;
  display: flex;
  justify-content: space-between;
  aspect-ratio: 2/1;
}

#figure-container {
  padding-top: 24px;
  padding-bottom: 10px;
  max-height: 400px;
}

.image-grid-col-2 {
  grid-column: span 2;
}

.image-grid-row-2 {
  grid-row: span 2;
}

.divider {
  width: 100%;
  border: none; 
  height: 1px; 
  background-color: var(--grey-color);
  margin: 20px 0; 
}

.description-p {
  font-size: 16px;
  font-weight: 600;
  color: var(--dark-black-color);
  font-size: var(--font-size);
  line-height: 1.2;
}

.body {
  overflow: hidden;
  display: flex;
  color: #222222;
}

#root {
  display: flex;
  flex-direction: column;
}

.listing-show-visuals {
  padding-top: 24px;
  max-width: 1120px;
  min-width: 650px;
  display: flex;
  justify-content: space-between;
  aspect-ratio: 2/1;
}

.first-col-photo {
  height: 100%;
  width: 50%;
}
.first-col-photo img{
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
.second-col-photos {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 25%;
  justify-content: space-between;
  align-items: center;
}
.third-col-photos {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 25%;
  justify-content: space-between;
  align-items: flex-end;
}
.third-col-photos img:first-child  {
  border-top-right-radius: 12px;
}
.third-col-photos  img:last-child {
  border-bottom-right-radius: 12px;
}

.listing-show-image-main {
  height: 100%;
  width: 98.9%;
  object-fit: cover;
  aspect-ratio: 1;
}

.listing-show-image {
  height: 49.25%;
  width: 97.8%;
  object-fit: cover;
  overflow: hidden;
  aspect-ratio: 1;
}

.listing-show-visuals .main {
  height: 100%;
  width: 99%;
  object-fit: cover;
  overflow: hidden;
  aspect-ratio: 1;
}

.listing-show-header {
  width: 100%;
  max-width: 1120px;
  display: inline-block;
  padding-top: 24px;
  justify-content: center;
}

.listing-show-header h1 {
  font-size: 28px;
  font-weight: 600;
}

.listing-show-header-details-row {
  margin-top: 10px;
}

.review-star {
  font-size: 20px;
  font-weight: 600;
  margin-right: 5px;

}

.review-score, .review-amount, .review-location {
  font-size: 16px;
  font-weight: 600;
  margin-right: 5px;
  margin-left: 5px;

}

.review-amount, .review-location {
  text-decoration: underline;
}

.hosted-by-container {
  margin-top: 45px;
  margin-bottom: 15px;
  width: 500px;

}

.hosted-by {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 40px;
}

.hosted-by-details-header {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}

.hosted-by-details {
  margin-top: 10px;
}

.hosted-by-details span {
  margin-right: 10px;
  margin-top: 40px;
  font-size: 16px;
  font-weight: 500;
}

.listing-detail-avatar {
  margin-left: 16px !important;
  margin-bottom: 0px !important;
}

.owner-avatar {
  height: 55px;
  aspect-ratio: 1;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

@media (max-width: 1127px) {
  .listing-show {
      width: 90.5vw;
  }
}

.write-review-button {
  cursor: pointer;
  margin-top: 12px;
  margin-bottom: 12px;
  text-align: left;
  text-decoration: underline;
  font-weight: 700;
  font-size: var(--font-size);
  color: var(--dark-black-color);
  width: 30%;
  max-width: 145px;
}

.reviews-container {
  /* border: 3px solid green; */
  margin-top: 10px;
}

.reviews-container-header .review-star {
  font-size: 25px;
  margin-right: 2px;
}

.reviews-container-header .review-score {
  font-size: var(--font-size);
}

.reviews-container-header .review-dot {
  font-weight: 700;
}

.reviews-container-header .review-amount {
  font-size: var(--font-size);
}

.container {
  margin-top: 10px;
  color: var(--dark-black-color);
  display: grid;
  grid-template-rows: repeat(3, auto); /* create 3 rows with auto height */
  grid-template-columns: repeat(2, 1fr); /* create 2 columns with equal width */
  text-align: left; /* align the content to the left */
}

.item {
  padding: 7px;
  color: var(--dark-black-color);
  font-weight: 600;
  font-size: var(--font-size);
}

.where-youll-be {
  font-weight: 700;
  font-size: var(--font-size);
  margin-top: 12px;
}




