:root {
  --grey-color: #9da09d;
  --red-brand-color: #F95E5C;  
  --font-size: 18px;
  --dark-black-color: #383838; 
}

.close-button {
  font-size: 15px;
  width: 100%;
  padding-top: -10px;
}

.close-button:hover,
.signup_span:hover {
  cursor: pointer;
}

.login-modal {
  width: 500;
  height: 700;
  margin: 15px;
}

.login-header {
  /* text-align: center; */
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 10px;
}

.welcome-message {
  text-align: left;
  font-weight: 700;
  width: 100%;
}

.welcome-message {
  padding-left: 20px;
}

.login-form {
  padding: 18px;
  font-size: 16px;
}

.email-login-input, 
.password-login-input {
  border-bottom: none;
  width: 100%;
  height: 35px;
  padding-top: 10px;
  padding-left: 10px;
  border: 1px solid var(--grey-color);
  font-weight: 400;
  font-size: var(--font-size);
}

.email-login-input {
  border-radius: 8px 8px 0 0;
}

.password-login-input {
  border-radius: 0 0 8px 8px;
} 

.signup-message {
  margin-top: 15px;
  margin-left: 3px;
  font-weight: bold;
  font-size: 16px;

}

.continue-button, .demo-button {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  /* touch-action: manipulation; */
  /* margin-top: 16px; */
  height: 48px;
  /* font-size: 16px; */
  font-size: var(--font-size);
  font-weight: bold;
  width: 500px;
  background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%);
  color: rgb(255, 255, 255);
  border-radius: 8px;
}

.demo-button {
  color: var(--dark-black-color);
  background: white;
  border: 1px solid var(--dark-black-color);
  margin-top: 5px;
}

.profile-button {
  border: 1px var(--grey-color) solid;
  border-radius: 20px;
  padding: 8px 12px;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  font-size: 25px;
}

.profile-button:hover  {
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
}

#profile-button-bars {
  margin-right: 10px;
  color: var(--dark-black-color);
}

#profile-button-user-circle {
  color: var(--dark-black-color);
}

.profile-dropdown-login {
  position: absolute;
  /* display: block; */
  margin-top: 30px;
  /* margin-left: -200px; */
  padding: 8px 2px;
  top: 50%;
  top: 53px;
  right: 0px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 2px 18px rgba(0 0 0 / 10%);
  min-width: 250px;
  font-weight: 600;
  font-style: bold;
  font-size: 22px;
}

.profile_dropdown_li {
  text-align: right;
  margin: 20px;
}

.profile_dropdown_li:hover {
  cursor: pointer;
}

